.page-home {

    .img {
        width:100%;
      }
      .container-fluid {
        position:relative;
        margin-bottom: 2%;
      }
      
      .inner {
        position:absolute;
        top:5%;
        left:5%;
        align-self: flex-start;
      }

      .title-text{
        color: $primary;
      }

      .img-container{
        position: absolute;  
        height: fit-content;
      }

      .text-overlay {
        position: absolute;
        text-align: center;
        width: 100%;
        align-self: center;
      }
      .text-overlay > p {
        color: white;
        width: 100%;
      }
      .text-overlay > h1 {
        color: white;
        width: 100%;
        font-family: $font-family-base;
      }
      h4{
        font-size: x-large;
      }
      .separator{
        width: 40%;
        color: green;
        margin-bottom: 2%;
        margin-top: 2%;

      }
}
