.page-about {
  .content {
    > p {
      &:first-of-type {
        font-size: 1.6rem;
        line-height: 1.4;
        margin-top: 40px;
        font-weight: regular;
        color: rgb(104, 104, 104);
        text-align: justify;
        text-justify: inter-word;
      }
    }

    margin-top: 60px;
  }

  .funding{
    > div{
      margin-top: 40px;
    }
  }
}
