.page-news {
  .news-summary {
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 1%;
    margin-bottom: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    .news-image {
      flex: 1 0 100%;
      align-items: flex-start;
      justify-content: start;
      height: auto;
      width: 100%;
      overflow: hidden;
      border-top-left-radius: 1%;
      border-top-right-radius: 1%;
      .img{
        object-fit: fill;
      }  
    }

    .news-meta {
      flex: 1 0 100%;
      padding-left: 10px;
      padding-right: 10px;
      h2 {
        font-size: 22px;
        font-weight: normal;
      }
      p {
        color: $black;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;
      }
    }
    .news-content {
      flex: 1 0 100%;
      padding: 10px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 20px;
    }
  }

}
