.page-home {

    .img {
        width:100%;
      }
      // .overlay-text {position: absolute;}

      .container-fluid {
        position:relative;
      }
      
      .inner {
        position:absolute;
        top:5%;
        left:5%;
        align-self: flex-start;
      }

      .title-text{
        color: $primary;
      }

      .overlay-text {
        position: absolute;
        top: 25%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        text-align: center;
      }
      .overlay-text p{
        color: #ffffff;
      }
      .overlay-text h1{
        color: #ffffff;
        font-size: xx-large;
      }
      
      h4{
        font-size: x-large;
      }
}
