.page-teams {
  .team-summary {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  
    .team-meta {
      flex: 1;
      h2 {
        margin: 0;
        font-size: 22px;
        font-weight: normal;
      }
      p {
        color: $black;
        // text-transform: uppercase;
        margin: 0;
        font-size: 14px;
        font-weight: 500;
      }
     
    }
    .team-content {
      margin-top: 20px;
      flex: 1 0 100%;
    }
  }

  .team-summary-large {
    background-color: $white-offset;
    padding: 30px;
    border-radius: 3px;
    .team-image {
      height: 90px;
      width: 90px;
      margin-right: 20px;
      border-radius: 50%;
      overflow: hidden;
      -moz-box-shadow: 2px 2px 4px rgb(182, 182, 182);
      -webkit-box-shadow: 2px 2px 4px rgb(182, 182, 182);
      box-shadow: 2px 2px 4px rgb(182, 182, 182);
      img {
        width: 90px;
        object-fit: cover;    
        }
    }
  }

  .team-image-full-length{
    flex:1;
    width: 100%;
    height:auto;
  }
}
