---
layout: default
bodyClass: "page-news"
---

  
<div class="container pt-6 pb-6">
    <div class="row">
        {% assign site_news = site.news| sort: "weight" %}
        {% for news in site_news %}
        <div class="col-12 col-md-4 mb-2">
            <div class="news news-summary news-summary-large" >
                    <div class="news-image">
                        {% if news.image %}
                        <img width="100%" height="auto" class="mb-2" src="{{ news.image | relative_url }}" onerror="this.src='../images/placeholders/no_image.svg';"/>
                        {% endif %}
                    </div>
                <div class="news-meta">
                    <h2 class="news-name">         
                        <a href="{{ news.url | relative_url }}">{{ news.title }}</a>
                    </h2>
                </div>      
                <!-- <div class="news-content"><p>{{ news.content | truncate: 80 | mardownify}}</p></div> -->
            </div>
        </div>
        {% endfor %}
    </div>
</div>

