---
layout: default
bodyClass: "page-news"
---

<div class="container pt-6 pb-6">
    <div class="row">
        {% assign site_news = site.news| sort: "weight" %}
        {% for news in site_news %}
        <div class="col-12 col-md-4 mb-2">
            <div class="news news-summary news-summary-large" >
                    <div class="news-image">
                        {% if news.image %}
                        <img width="100%" height="auto" class="mb-2" src="{{ news.image | relative_url }}" onerror="this.src='../images/placeholders/no_image.svg';"/>
                        {% endif %}
                    </div>
                <div class="news-meta">
                    <h2 class="news-name">
                        {% if news.website_url %}
                            {% assign url = news.website_url %}
                        {% else %}
                            {% assign url = news.url | relative_url %}
                        {% endif %}                            
                        <a href="{{url}}">{{ news.title }}</a>
                        </h2>
                </div>
                {% if news.website_url %}
                    {% assign content = news.subtitle %}
                {% else %}
                    {% assign content = news.content %}
                {% endif %}        
                <div class="news-content">{{ content | truncate: 80 | mardownify}}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

